<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<flexshopperpayments>
				<active>0</active>
				<model>FlexShopper\Payments\Model\Payment\FlexShopperPayments</model>
				<order_status>pending</order_status>
				<title>FlexShopper Payments</title>
				<brand>manufacturer</brand>
				<allowspecific>1</allowspecific>
				<specificcountry>US</specificcountry>
				<group>offline</group>
				<sandbox_flag>0</sandbox_flag>
				<debug>0</debug>
			</flexshopperpayments>
		</payment>
	</default>
</config>
