<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_before">
        <observer name="flexshopper_after_payments" instance="FlexShopper\Payments\Observer\AfterShipment" />
    </event>
    <event name="order_cancel_after">
        <observer name="flexshopper_order_cancel" instance="FlexShopper\Payments\Observer\Cancel" />
    </event>
</config>